<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>My Web Application</display-name>

    <!-- location of spring xml files -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:spring/spring-db.xml
            classpath:spring/camel-config.xml
        </param-value>
    </context-param>

    <!-- the listener that kick-starts Spring -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>


    <servlet>
        <servlet-name>CamelServlet</servlet-name>
        <servlet-class>org.apache.camel.component.servlet.CamelHttpTransportServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>CamelServlet</servlet-name>
                <url-pattern>/*</url-pattern>
    </servlet-mapping>









    <!-- to setup Camel Swagger api servlet when using Spring -->
<!--    <servlet>



        &lt;!&ndash; Camel 2.15 onwards &ndash;&gt;
        <servlet-name>ApiDeclarationServlet</servlet-name>
        <servlet-class>org.apache.camel.component.swagger.DefaultCamelSwaggerServlet</servlet-class>



        &lt;!&ndash; Camel 2.15 onwards &ndash;&gt;
        <init-param>
            &lt;!&ndash; we specify the base.path using relative notation, that means the actual path will be calculated at runtime as
                 http://server:port/contextpath/rest &ndash;&gt;
            <param-name>base.path</param-name>
            <param-value>rest</param-value>
        </init-param>
        <init-param>
            &lt;!&ndash; we specify the api.path using relative notation, that means the actual path will be calculated at runtime as
                 http://server:port/contextpath/api-docs &ndash;&gt;
            <param-name>api.path</param-name>
            <param-value>api-docs</param-value>
        </init-param>


        <init-param>
            <param-name>api.version</param-name>
            <param-value>1.2.3</param-value>
        </init-param>
        <init-param>
            <param-name>api.title</param-name>
            <param-value>User Services</param-value>
        </init-param>
        <init-param>
            <param-name>api.description</param-name>
            <param-value>Camel Rest Example with Swagger that provides an User REST service</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>

    &lt;!&ndash; swagger api declaration &ndash;&gt;
    <servlet-mapping>
        <servlet-name>ApiDeclarationServlet</servlet-name>
        <url-pattern>/api-docs/*</url-pattern>
    </servlet-mapping>-->




</web-app>
