<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:jaxrs="http://www.springframework.org/schema/c"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://cxf.apache.org/jaxws
       http://cxf.apache.org/schemas/jaxws.xsd">



    <jaxws:endpoint id="departmentSEI" address="/departmentSEI"
                    implementor="com.mrigor.tasks.department.service.DepartmentServiceImpl"/>

    <jaxws:endpoint id="employeeSEI" address="/employeeSEI"
                    implementor="com.mrigor.tasks.department.service.EmployeeServiceImpl"/>




</beans>
