<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<!--    <bean class="com.mrigor.testTasks.department.repository.DepartmentRepoImpl" id="repositoryD">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean class="com.mrigor.testTasks.department.repository.EmployeeRepoImpl" id="repositoryE">
        <constructor-arg ref="dataSource"/>
    </bean>


    <bean id="serviceD" class="com.mrigor.testTasks.department.service.DepartmentServiceImpl">
        <property name="repository" ref="repositoryD"/>
    </bean>

    <bean class="com.mrigor.testTasks.department.service.EmployeeServiceImpl" id="serviceE">
        <property name="repository" ref="repositoryE"/>
    </bean>-->
    <bean class="com.mrigor.testTasks.department.service.EmployeeServiceClient"/>
    <bean class="com.mrigor.testTasks.department.service.DepartmentServiceClient"/>


<!--    <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>-->


<!--    <context:annotation-config/>-->
    <!--
        <context:component-scan base-package="com.mrigor.testTasks.department.repository"/>
        <context:component-scan base-package="com.mrigor.testTasks.department.service"/>
    -->

    <!--    <context:component-scan base-package="ru.javawebinar.**.service"/>

        <context:component-scan base-package="ru.javawebinar.**.web"/>-->

</beans>