<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd

">



    <beans profile="soap,rest">
        <context:annotation-config/>
        <bean id="converter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>
        <!--    URL prefix-->
    </beans>

    <beans profile="rest">
        <bean id="prefix" class="java.lang.String">
<!--
            <constructor-arg value="http://localhost:8080/server-rest-1.0-SNAPSHOT/"/>
-->
            <constructor-arg value="http://localhost:8082/department"/>
        </bean>
        <context:component-scan base-package="com.mrigor.tasks.department.service"/>
        <bean class="org.springframework.web.client.RestTemplate">
            <property name="messageConverters">
                <list>
                    <ref bean="converter"/>
                </list>
            </property>
        </bean>
    </beans>


    <beans profile="soap">
        <bean id="prefix" class="java.lang.String">
<!--
            <constructor-arg value="http://localhost:8080/server-soap-1.0-SNAPSHOT/"/>
-->
            <constructor-arg value="http://localhost:8081/department"/>
        </bean>
        <import resource="spring-cxf.xml"/>
    </beans>

</beans>
